*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orgi

#maven ignore
target/

#eclipse ignore
.settings
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#tep file
*.log
*.cache
*.diff
*.patch
*.tep

#system ignore
.DS_Store
Thumbs.db
